/* Global styles ============= */
:root {
  --primary-color: #14213D;
  --secondary-color: #E5E5E5;
  --cta-color: #FCA311;
  --bg-color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Navigation */

.navbar {
  height: 14vh;
  background: var(--primary-color);
  padding: 0 2%;
}

.navbar-brand {
  color: var(--cta-color);
  font-size: 30px;
  font-weight: 900;
}

.navbar-brand:visited {
  color: var(--cta-color);
  font-size: 30px;
  font-weight: 900;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-nav .nav-link.active:hover {
  color: var(--cta-color);
}

.links-right {
  flex-grow: inherit;
}


/* Header */
.blur {
  backdrop-filter: blur(10px);
  /*I have used this property to blur part of the back ground without blurring the text on it*/
  padding: 1%;
}

.hero {
  background-image: url(../images/code-screen.jpg);
  background-size: cover;
  background-position: center;
}

.hero-text {
  color: var(--secondary-color);
}



/* Skills */

.skills {
  height: 14rem;
  background-color: var(--secondary-color);
  border: 5px solid var(--cta-color);
  border-radius: 10px;
  margin: 3rem;
  padding: 0 10%;
  padding-top: 2rem;
}

.tech-box {
  display: flex;
  justify-content: space-around;
}

.tech-img {
  height: 9rem;
  width: 9rem;
}


/* Works */

.works {
  background-color: var(--bg-color);
  height: 70vh;
  display: grid;
  grid-template-rows: 75%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "card-1 card-2 card-3 card-4";
  gap: 10px;
  justify-content: center;
  align-content: space-between;
  margin-top: 5%;
  padding: 0% 10%;

}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
  width: 100%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  border: 5px solid var(--cta-color);
  border-radius: 10px;
  height: 520px;
  margin: 0 50%;
}

.cards-body {
  background-color: var(--secondary-color);
}




/* About and Contact */


.bg-color-section {
  background-color: var(--secondary-color);
  padding: 5% 0;
}


.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60vh;
  background-color: var(--primary-color);
  border: 5px solid var(--cta-color);
  border-radius: 10px;

}



.title {
  color: var(--secondary-color);
  border: 1px solid black;
  padding: 1%;
  background-color: var(--primary-color);
}

/* About */
.about {
  flex-grow: 1;
}

.card-text {
  color: var(--primary-color);
}

/* Contact */
.contact {
  flex-grow: 1;
  flex-direction: column;
}

.btn,
.btn:visited {
  background-color: var(--cta-color);
  color: var(--primary-color);
  text-transform: uppercase;
}



.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
}

.contacting {
  text-decoration: none;
  color: var(--primary-color);
}

.contacting:visited {
  background-color: var(--cta-color);
  color: var(--primary-color);
  text-transform: uppercase;
}



/* Footer */

.footer {
  display: flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 5vh;
  padding: 0 10%;
  margin-top: 5%;
}

.footer-header,
.footer-title {
  font-size: medium;
}

.bt {
  background-color: var(--primary-color);
  color: var(--cta-color);
  font-size: smaller;
}

.bt:hover,
.bt:visited {
  background-color: var(--primary-color);
  color: var(--cta-color);
  box-shadow: var(--bg-color) 1px 0 10px;
}

.footer-header,
.footer-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 5;
}




/* Media queries */